<div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center z-10">
    <h1 class="not-found">404</h1>
    <h3 class="my-2 text-2xl font-bold">Oups! Pagina nu a fost găsită</h3>
    <p>
        Ne pare rău, dar pagina pe care încercați să o accesați <br />
        nu există sau a fost eliminată.
    </p>

    <div class="mt-8 flex justify-center gap-2">
        <button (click)="goBack()" class="button button__primary">Mergi înapoi</button>
        <a routerLink="" class="button button__secondary">La prima pagină</a>
    </div>
</div>

<div class="bg-white w-full h-full absolute inset-0 z-0"></div>
