/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 20 30% 100%;
        --foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 13 100% 55%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 14% 15%;
        /* --background: 20 14.3% 4.1%; */
        --foreground: 60 9.1% 97.8%;

        --card: 240, 23%, 10%;
        /* --card: 20 14.3% 4.1%; */
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        /* --primary-foreground: 24 9.8% 10%; */
        --primary-foreground: 0 0% 100%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 13 100% 55%;
    }
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    @layer base {
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

@layer components {
    .not-found {
        @apply bg-gradient-to-b from-gray-800 dark:from-white to-transparent bg-clip-text text-7xl xs:text-8xl sm:text-9xl font-extrabold text-transparent mb-6;
    }
    .button {
        @apply inline-flex gap-2 items-center justify-center focus-visible:outline-none whitespace-nowrap text-md font-medium transition-colors duration-300 disabled:pointer-events-none disabled:opacity-50 h-12 rounded-md px-8;
        &__primary {
            @apply focus-visible:ring-1 focus-visible:ring-ring bg-primary text-primary-foreground shadow hover:bg-primary-600;
        }
        &__secondary {
            @apply focus-visible:ring-1 focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground;
        }
        &__outline {
            @apply ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 border border-input bg-background hover:bg-accent hover:text-accent-foreground  dark:bg-transparent dark:border-gray-500;
        }
        &__tip {
            @apply text-sm ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 bg-background hover:text-accent-foreground border font-semibold p-4 h-fit hover:border-primary-300 hover:bg-primary-100 dark:hover:bg-primary-950;
        }
        &__icon {
            @apply text-sm ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 border border-input bg-background p-4 w-fit h-fit;
        }
        &__rate {
            @apply hover:text-accent-foreground h-11 px-8 flex-1 flex gap-2 py-6 hover:border-primary-300 hover:bg-primary-100 dark:hover:bg-primary-950 text-md;
        }
        &.selected {
            @apply bg-primary border-primary text-white hover:bg-primary hover:border-primary hover:text-white;
        }
    }

    .card {
        @apply rounded-lg space-y-6 border bg-card text-card-foreground shadow-sm p-6;
        &__header {
            @apply flex flex-col items-center gap-2;
        }
        &__footer {
            @apply flex items-center flex-col mt-6;
        }
    }

    .input {
        @apply rounded-md bg-background ring-offset-background transition placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
        &.otp-input {
            @apply px-3 py-2 focus-visible:ring-primary;
        }

        &.custom-input {
            @apply w-full border border-input p-4 h-fit font-semibold text-md focus-visible:ring-transparent focus-visible:border-primary;
        }

        &.textarea {
            @apply min-h-[80px] w-full border border-input px-3 py-2 focus-visible:ring-transparent focus-visible:border-primary h-[130px] text-md resize-none;
        }
    }
}

main {
    background-image: url('assets//images/noise-light.png');
}

@font-face {
    font-family: 'Onest';
    src: url('assets/fonts/Onest.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
